#paytable-content {
	background-image: url('../imgs/paytable.png');
	width: 1232px !important;
	height: 685px !important;
	margin-left: 34px;
    margin-top: 21px;
}

#paytable-content > div > div > span:first-child {
	font-size: 28px;
	font-weight: bold;
	color: yellow;
	margin-top: 1px;
	margin-bottom: 0;
	margin-right: 20px;
}

#paytable-content > div > div > span:last-child {
	font-size: 28px;
	font-weight: bold;
	color: yellow;
	margin-top: 1px;
	margin-bottom: 0;
}