.reel {
	width: 367px !important;
	height: 666px !important;
    margin-top: 7px !important;
    margin-left: 13px !important;
}

#reel-0 {
	margin-left: 30px !important;
}

.reel > canvas {
	width: 367px !important;
	height: 666px !important;
}

.symbol {
	width: 367px !important;
	height: 222px !important;
}

.symbol-video {
	width: 367px !important;
	height: 222px !important;
}

.line-indicator {
	padding-top: 3px !important;
	height: 20px !important;
	font-size: 18px !important;
}