.reel {
	width: 188px !important;
	height: 564px !important;
    margin-top: 82px !important;
    margin-left: 0px !important;
}

#reel-0 {
	margin-left: 47px !important;
}

.reel > canvas {
	width: 188px !important;
	height: 564px !important;
}

.symbol {
	width: 188px !important;
	height: 188px !important;
}

.symbol-video {
	width: 188px !important;
	height: 188px !important;
}

#reels-outer {
    width: 1293px !important;
}