html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Arial';
	font-weight: normal;
	color: white;
	background-color: black;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#body {
	width: 100%;
	height: 1024px;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
}

#body-repeat {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: black;
	margin: 0 auto;
	background-position: center 0;
	background-repeat: repeat-x;
	display: none;
	overflow: hidden;
}