.spriteanim {
    z-index: 200;
    opacity: 0;
 
    -webkit-animation-name: spriteanimation;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;

    -moz-animation-name: spriteanimation;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

    -ms-animation-name: spriteanimation;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: ease-in-out;
 
    animation-name: spriteanimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@-ms-keyframes spriteanimation {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes spriteanimation {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes spriteanimation {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes spriteanimation {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}